@import url('https://fonts.googleapis.com/css2?family=Poppins');
:root {
    --Popins: Poppins, sans-serif;
    --Blue-400: #53B1FD;
    --Blue-800: #1849A9;
    --Error-25: #FFFBFA;
    --Error-50: #FEF3F2;
    --Error-70: #B42318;
    --Error-300: #FDA29B;
    --Error-600: #D92D20;
    --Error-700: #B42318;
    --Primary-50: #EFF8FF;
    --Primary-700: #175CD3;
    --Primary-400: #53B1FD;
    --Primary-500: #2E90FA;
    --Primary-600: #1570EF;
    --Primary-800: #1849A9;
    --Gray-50: #F9FAFB;
    --Gray-100: #F2F4F7;
    --Gray-200: #EAECF0;
    --Gray-300: #D0D5DD;
    --Gray-400: #98A2B3;
    --Gray-500: #667085;
    --Gray-700: #344054;
    --Gray-800: #1D2939;
    --Gray-900: #101828;
    --Success-300: #6CE9A6;
    --Success-700: #027A48;
    --White: #FFFFFF;
    --Warning-50: #FFFAEB;
    --Warning-300: #FEC84B;
    --Rose-300: #FEA3B4;
    --Shadow-xm: 0px 1px 2px rgba(16, 24, 40, 0.05);
    --Primary-Hover: #2E90FA;

    /**
    Fonts
     */

    --fs-30: 30px
}
html, body {
    background: #EFEFEF !important;
    font-family: var(--Popins) !important;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected .nav-item {
    color: #ffffff !important;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected svg {
    color: #ffffff !important;
}

.ant-menu-item .ant-menu-item-icon, .ant-menu-submenu-title .ant-menu-item-icon, .ant-menu-item .anticon, .ant-menu-submenu-title .anticon {
    min-width: 14px;
    font-size: 14px;
    transition: font-size 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), margin 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.3s;
    color: var(--Gray-900) !important;
}
.nav-item {
    color: var(--Gray-900) !important;
}
.text-md-medium {
    font-family: var(--Popins);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.text-sm-normal {
    font-family: var(--Popins);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--Gray-500);
}
.logo {
    width: 150px;
    float: left;
}
.ck-editor__editable {
    min-height: 400px !important;
}
.mobileHidden {
    display: block;
}
.userProfile:hover {
    cursor: pointer !important;
}
.mobileVisible {
    display: none !important;
}
@media only screen and (max-width: 991px) {
    .userProfile {
        display: none !important;
    }
}
.hideProfile {
    display: none !important;
}
@media (min-width: 961px) {
    .dashContent {
        margin-left: 80px !important;
    }
}
@media only screen and (max-width: 767px) {
    .mobileVisible {
        display: contents !important;
    }
    .userProfile {
        display: none !important;
    }
    .mobileHidden {
        display: none !important;
    }
}
.sideBar,
.sideBarNav {
    background: #fff !important;
    border-radius: 10px !important;
}
.sideBarNav .ant-menu-sub {
    background: #fff !important;
}
.sideBarNav li {
    font-size: 11px !important;
    font-weight: bold;
}

.ant-menu-dark .ant-menu-item, .ant-menu-dark .ant-menu-item-group-title, .ant-menu-dark .ant-menu-item > a, .ant-menu-dark .ant-menu-item > span > a{
    color: var(--Gray-900) !important;
}
.sideProfile {
    margin-top: 15px;
}
.sideProfileText {
    // color: #ffffff !important;
    font-size: 12px !important;
    font-weight: normal !important;
    line-height: 0 !important;
}

.moduleTabs .ant-card-body {
    padding: 0 !important;
}
.dashIcon {
    font-size: 30px !important;
    //color: #fff !important;
}
.text-primary {
    color: #1a337e !important;
}
.isMobile {
    position: fixed;
    left: 0;
}
.printTextTitle{
    font-size: 15px !important;
    text-transform: uppercase;
    font-weight: bold !important;
}
.printText{
    text-transform: uppercase;
    font-size: 15px !important;
    font-weight: normal !important;
}

@media print {
    .page-break {
        margin-top: 5rem !important;
        page-break-after: always !important;
    }
    table tbody tr td:before,
    table tbody tr td:after {
        content: "";
        height: 4px;
        display: block;
    }
}

.txt-upper{
    text-transform: uppercase !important;
}

.btn-cs{
    display: inline-flex !important;
    align-items: center !important;
}

.dashIcon{
    font-size: 50px !important;
    color: #1a337e !important;
}

.dashIconTitle{
    font-size: 30px !important;
    padding: 0 !important;
    margin-bottom: 0 !important;
    font-weight: lighter !important;
}
.dashIconText{
    text-transform: uppercase !important;
    font-size: 12px !important;
}

.table-data{
    border: none !important;
}

.ant-page-header-heading-title {
    white-space: break-spaces !important;
}

.ant-card, .ant-card-body, .ant-card-head-title, .ant-card-head-wrapper{
    page-break-inside: avoid !important;
    page-break-after: auto !important;
}

tr{
    page-break-inside: avoid !important;
    page-break-after: avoid !important;
}

div{
    page-break-inside: avoid !important;
    page-break-after: auto !important;
}

button, input, .ant-input, .ant-picker, .ant-card {
    border-radius: 8px !important;
}

th {
    text-transform: uppercase !important;
    font-size: 12px !important;
}

table{
    border-collapse:collapse;
}

table.print-friendly tr td, table.print-friendly tr th {
    page-break-inside: avoid;
}
tr td{
    page-break-inside: avoid;
    white-space: nowrap;
}

.ant-form-item-label {
    text-transform: capitalize !important;
}

.react-pdf__Page {
    -webkit-box-shadow: 0 25px 50px 0 rgb(62 62 62 / 15%) !important;
    box-shadow: 0 25px 50px 0 rgb(62 62 62 / 15%) !important;
    min-width: 100% !important;
    min-height: 100% !important;
}

.react-pdf__Page__canvas {
    min-width: 100% !important;
    min-height: 100% !important;
}
