.pagination {
    gap: 5px;
    align-items: center;
}

.pagination-wrapper .ant-card-body{
    padding: 5px !important;
}

.page-item.active .page-link {
    color: var(--Blue-400);
    background-color: var(--White);
    border: solid 1px var(--Blue-400);
    border-radius: 10px;
    outline: none !important;
}

.page-link {
    color: var(--Gray-900);
    background-color: transparent;
    border-radius: 10px;
    border: none;
    outline: none !important;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
    border-radius: 10px;
    padding: 10px;
}